
@font-face
{
  font-family:bmitra;
  src: url('../Font/bmitra.eot');
  src: url('../Font/bmitra.ttf') format("truetype"),
  url('../Font/bmitra.eot') format('embedded-opentype'),
  url('../Font/bmitra.woff') format('woff');
  
}
@font-face {
  font-family: 'fontello';
  src: url('../Font/fontello.eot?80285364');
  src: url('../Font/fontello.eot?80285364#iefix') format('embedded-opentype'),
       url('../Font/fontello.woff?80285364') format('woff'),
       url('../Font/fontello.ttf?80285364') format('truetype'),
       url('../Font/fontello.svg?80285364#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family:dinar;
  src: url('../Font/dinar.eot');
  src: url('../Font/dinar.eot') format('embedded-opentype'),
  url('../Font/dinar.woff') format('woff'),
  url('../Font/dinar.ttf') format("truetype");
  
}
@font-face
{
  font-family:bbc;
  src: url('../Font/bbc.eot');
  src: url('../Font/bbc.ttf') format("truetype"),
  url('../Font/bbc.eot') format('embedded-opentype'),
  url('../Font/bbc.woff') format('woff');
  
}
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-up-open:before { content: '\e802'; } /* '' */
.icon-down-open:before { content: '\e803'; } /* '' */
.icon-facebook-squared:before { content: '\e804'; } /* '' */
.icon-github-squared:before { content: '\e805'; } /* '' */
.icon-instagramm:before { content: '\e806'; } /* '' */
.icon-linkedin-squared:before { content: '\e807'; } /* '' */
.icon-twitter-squared:before { content: '\e808'; } /* '' */
.icon-globe:before { content: '\e809'; } /* '' */
.icon-email:before { content: '\e80a'; } /* '' */
p
{
	font-family:bmitra;
}
.row
{
  max-width: 100%;

}

#main-page
{
  height: 600px;

  background: #000000 url('../image/bg.jpg') no-repeat top left;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover !important;
opacity: 1;
}
#main-page-blur
{
  height: 600px;
  z-index: 1000;
  background: #000000 url('../image/bg-blur.jpg') no-repeat top left;
  opacity: 0;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover !important;

}  

ul {display: table; margin: 0 auto;}
ul li {display: table-cell;}
#main-text-plate h1
{
  font-family: dinar;
  color:#ffffff;
  font-size: 7em;
  text-align: right;
}
#startButton
{
  height:100px;
  width:100px;
  background-color: #ffffff;
  border:2px solid #ffffff;
  opacity: 0.7;
  border-radius:50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#startButton p
{
  z-index: 1000;
  color:#333333;
  font-family: fontello;
  font-size: 1.6em;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
#startButton:hover
{
  opacity: 0.9;
  background-color: #404040;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#startButton:hover p
{
  color:#ffffff;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.page-title
{
  color:#000000;
  font-family: dinar;
  font-size: 3em;
  text-align: right;
  margin-top: 2em;
  padding-right: 3em;
  direction: rtl;
}
.page-subtitle
{
  color:#000000;
  font-family: dinar;
  font-size: 1em;
  text-align: right;
  margin-top: -1.5em;
  padding-right: 9em;
  direction: rtl;
}
.developersImage
{
  margin-top: 10%;
  height: 80%;
  margin-left: 2em;
  border-radius: 50%;
  border:2px solid #404040;
}
.developerName
{
  font-family: bmitra;
  margin-bottom: 0em;
  font-size: 2.5em;
  color:#0E496B;
  text-align: right;
  direction: rtl;
}
.developerWork
{
  font-family: bmitra;
  text-align: right;
  direction: rtl;
  margin-bottom: 0.1em;
  font-size: 1.3em;
  color:#707070;
}
.developerBio
{
  font-family: bmitra;
  font-size: 1.3em;
  color:#000000;
  text-align: right;
  direction: rtl;
}
.developerConnection
{
  text-align: right;
  margin-bottom: 0em;
}
.developerSocial
{
  cursor: pointer;
  color: #606060;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 1.3em;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.developerSocial:hover
{
  color:#000000;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
i
{
  font-style: normal !important;
  font-family: fontello;
}